.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 27px;
  font-size: 35px;
  line-height: 1.1;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.default {
  background-color: #2AE881;
  color: #201B10;
}

.primary {
  background-color: #201B10;
  color: #FFFFFF;
}

.disabled {
  background-color: #C0C0C0;
  color: #787878;
  cursor: not-allowed;
}