.section {
  margin: 20px 40px;
  font-family: 'Roboto', sans-serif;
  color: #201B10;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}



.uploadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.dropZone {
  position: relative;
  background-color: #EACDFF;
  border-radius: 40px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed transparent;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.dropZone.dragging {
  background-color: #D4FAE6;
}

.dropZone.fileLoaded {
  background-color: transparent;
  border: 1px solid #201B10;
  padding: 60px 24px;
}

.dropZone.error {
  background-color: transparent;
  border: 1px solid #FF5F00;
}
