.section {
  margin: 20px 40px 60px;
  font-family: 'Roboto', sans-serif;
  color: #201B10;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.history{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}