.clearButton {
  width: 70px;
  height: 70px;
  background: #201b10;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
}

.deleteButton {
  width: 87px;
  height: 87px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px;
}
